.squareDiv {
    background-color: white;
    border: 1px dotted black;
    }

#container {
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(15, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 450px;
    width: 450px;
    background-color: gray;
    box-shadow: 10px 10p
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.color {
    background-color: black;
}

button {
    background: #24a0ed ;
    color: aliceblue;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
 #black:hover {
     background-color: grey;
     transition: .7;
 }

 #rgb:hover {
    background-color: rgb(158, 93, 153);
    transition: .7;
 }