.squareDiv {
    background-color: white;
    border: 1px solid black;
    }

#container {
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(15, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
    box-shadow: 10px 10p
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    background-color: black;
}
